<div class="wrapper">

    <nav id="sidebar">
        <div class="sidebar-header ">
            <h3>Angular Modules</h3>
        </div>


        <ul>
            <li class="list-group-item list-unstyled">
                <a class="text-decoration-none" routerLink="/resume" routerLinkActive="active">
          Resume-Form Builder
        </a>
            </li>
            <li class="list-group-item list-unstyled">
                <a class="text-decoration-none" routerLink="/user" routerLinkActive="active">
          User
        </a>
            </li>

            <li class="list-group-item list-unstyled">
                <a class="text-decoration-none" routerLink="/Auser" routerLinkActive="active">
          A-User
        </a>
            </li>

            <li class="list-group-item list-unstyled">
                <a class="text-decoration-none" routerLink="/sub" routerLinkActive="active">
          Subject
        </a>
            </li>

            <li class="list-group-item list-unstyled">
                <a class="text-decoration-none" routerLink="#" routerLinkActive="active">
          LOGOUT
        </a>
            </li>
            <li class="list-group-item list-unstyled">
                <a class="text-decoration-none" routerLink="mvp" routerLinkActive="active">
          Mvp Demo
        </a>
            </li>
        </ul>

    </nav>
</div>