<div class="container py-5">
    <button class="btn btn-primary"> Add </button>

    <table class="table py-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Gender</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let m of listdata, let i = index">
                <th scope="row">{{ i + 1}}</th>
                <td> {{ m.fullname }} </td>
                <td> {{ m.age }} </td>
                <td> {{ m.phone }} </td>
                <td> {{ m.gender }} </td>
            </tr> -->
        </tbody>
    </table>
</div>