<div class="input-group">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
    <button class="btn btn-primary" routerLink="/form" routerLinkActive="active">ADD</button>
  </div>
<table>
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>MobileNo</th>
        <th>Date</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
