/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.padding {
    padding: 5px;
}

.justify-right {
    justify-content: right;
}